<style>
  <%= css_content %>
</style>
<div id='query_counter_report_gem'>
  <h2>Query Count Report</h2>
  <p>Total number of queries in this process: <%= total_query_count %></p>
  <p>Total time spent on queries in this process (ms): <%= total_duration_time %></p>
  <p>Only tables with <%= ::ActiveRecordQueryCount::Configuration.ignore_table_count %> or more queries will be displayed.</p>
  <p>The top <%= ::ActiveRecordQueryCount::Configuration.max_locations_per_table %> locations with the highest occurrences will be shown for each table.</p>
  <button id="toggleButton" onclick="toggleView()">Show Chart View</button>
  <button id="toggleColumnButton" onclick="toggleColumnContent()">Show SQL</button>

  <div class="center-container">
    <canvas id="queryCountChart"></canvas>
  </div>
<table id="queryTable">
    <tr>
      <th>Table</th>
      <th>Total Query Count</th>
      <th id="columnHeader">File Path</th>
      <th>Method</th>
      <th>Location Count</th>
      <th>Cached Query</th>
      <th>Total Duration(ms)</th>
    </tr>
    <% filter_data(data).each_with_index do |(table, info), index| %>
      <tr class="main-row <%= index.even? ? 'even' : 'odd' %>">
        <td rowspan="<%= info[:location].size + 1 %>"><%= table %></td>
        <td rowspan="<%= info[:location].size + 1 %>"><%= info[:count] %></td>
      </tr>
      <% info[:location].each do |loc, detail| %>
        <tr class="sub-row <%= index.even? ? 'even' : 'odd' %>">
          <% match = loc&.match(/^(?<file_path>.*):in.*`(?<method>.*)'$/) %>
          <% file_path = match ? match[:file_path] : loc %>
          <% method = match ? match[:method] : nil %>
          <td class="toggle-content">
            <span class="filepath"><%= file_path %></span>
            <span class="sql" style="display: none;"><%= detail[:sql].gsub('"', '') %></span>
          </td>
          <td class="method-column"><%= method %></td>
          <td><%= detail[:count] %></td>
          <td><%= detail[:cached_query_count] %></td>
          <td><%= detail[:duration] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <script>
    <%= chart_js_content %>
  </script>
  <script>
    <%= js_content %>
  </script>
  <script>
    const chartData = <%= chart_data.to_json %>;
    initializeChart(chartData);
  </script>
</div>
