<!DOCTYPE html>
<html>
<head>
  <title>Query Counter Report</title>
</head>
<body>
  <script>
    <%= js_content %>
  </script>
  <style>
    <%= css_content %>
  </style>
  <div id='query_counter_report_gem'>
    <h2>Query Counter Report</h2>
    <p>Total query count on <%= @script_1_name %>: <%= total_query_count_1 %></p>
    <p>Total query count on <%= @script_2_name %>: <%= total_query_count_2 %></p>
    <button id="toggleButton" onclick="toggleView()">Show Chart View</button>
    <button id="toggleColumnButton" onclick="toggleColumnContent()">Show SQL</button>

    <div class="center-container">
      <canvas id="queryCountChart"></canvas>
    </div>
  <table id="queryTable">
      <tr>
        <th>Table</th>
        <th>Total Query Count <%= @script_1_name %></th>
        <th>Total Query Count <%= @script_2_name %></th>
        <th id="columnHeader">File Path</th>
        <th>Method</th>
        <th>Location Count <%= @script_1_name %></th>
        <th>Location Count <%= @script_2_name %></th>
      </tr>
      <% tables.each do |table_name| %>
        <% locations = (data_1.dig(table_name, :location)&.keys || []) | (data_2.dig(table_name, :location)&.keys || [])%>
        <tr>
          <td rowspan="<%= locations.count + 1 %>"><%= table_name %></td>
          <td rowspan="<%= locations.count + 1 %>"><%= data_1.dig(table_name, :count) || 0%></td>
          <td rowspan="<%= locations.count + 1 %>"><%= data_2.dig(table_name, :count) || 0 %></td>
        </tr>
        <% locations.each do |loc| %>
          <% details_1 = data_1.dig(table_name, :location, loc) || {}%>
          <% details_2 = data_2.dig(table_name, :location, loc) || {}%>
          <% present_detail = details_1 || details_2 %>
          <tr class="sub-row">
            <% match = loc&.match(/^(?<file_path>.*):in.*`(?<method>.*)'$/) %>
            <% file_path = match ? match[:file_path] : loc %>
            <% method = match ? match[:method] : nil %>
            <td class="toggle-content">
              <span class="filepath"><%= file_path %></span>
              <span class="sql" style="display: none;"><%= present_detail[:sql]&.gsub('"', '') %></span>
            </td>
            <td class="method-column"><%= method %></td>
            <td><%= details_1[:count] || 0 %></td>
            <td><%= details_2[:count] || 0 %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const chartData = <%= chart_data.to_json %>;
      initializeChartCompare(chartData);
    </script>
  </div>
</body>
</html>