<!DOCTYPE html>
<html>
<head>
  <title>Query Counter Report</title>
</head>
<body>
  <script>
    <%= js_content %>
  </script>
  <style>
    <%= css_content %>
  </style>
  <div id='query_counter_report_gem'>
    <h2>Query Counter Report</h2>
    <p>Total query count on process: <%= total_query_count %></p>
    <p>The table will show only tables with more than <%= ::QueryCounter::Configuration.ignore_table_count %> queries</p>
    <p>Only the top  <%= ::QueryCounter::Configuration.max_locations_per_table %> locations with the most occurrences will be shown.</p>
    <button id="toggleButton" onclick="toggleView()">Show Chart View</button>
    <button id="toggleColumnButton" onclick="toggleColumnContent()">Show SQL</button>

    <div class="center-container">
      <canvas id="queryCountChart" width="300" height="150"></canvas>
    </div>
  <table id="queryTable">
      <tr>
        <th>Table</th>
        <th>Total Query Count Script 1</th>
        <th>Total Query Count Script 2</th>
        <th id="columnHeader">File Path</th>
        <th>Method</th>
        <th>Location Count Script 1</th>
        <th>Location Count Script 2</th>
      </tr>
      <% tables.each do |table_name| %>
        <% locations = data_1[table_name][:location].keys | data_2[table_name][:location].keys%>
        <tr>
          <td rowspan="<%= locations.count + 1 %>"><%= table_name %></td>
          <td rowspan="<%= locations.count + 1 %>"><%= data_1[table_name][:count] %></td>
          <td rowspan="<%= locations.count + 1 %>"><%= data_2[table_name][:count] %></td>
        </tr>
        <% locations.each do |loc| %>
          <% details_1 = data_1[table_name][:location][loc] || {}%>
          <% details_2 = data_2[table_name][:location][loc] || {}%>
          <% present_detail = details_1 || details_2 %>
          <tr class="sub-row">
            <% match = loc&.match(/^(?<file_path>.*):in.*`(?<method>.*)'$/) %>
            <% file_path = match ? match[:file_path] : loc %>
            <% method = match ? match[:method] : nil %>
            <td class="toggle-content">
              <span class="filepath"><%= match[:file_path] %></span>
              <span class="sql" style="display: none;"><%= present_detail[:sql].gsub('"', '') %></span>
            </td>
            <td class="method-column"><%= match[:method] %></td>
            <td><%= details_1[:count] || 0 %></td>
            <td><%= details_2[:count] || 0%></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const chartData = <%= chart_data.to_json %>;
      initializeChartCompare(chartData);
    </script>
  </div>
</body>
</html>