<!DOCTYPE html>
<html>
<head>
  <title>Query Counter Report</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="script.js"></script>
</head>
<body>
  <h2>Query Counter Report</h2>
  <p>Total query count: <%= total_query_count %></p>
  <button id="toggleButton" onclick="toggleView()">Show Chart View</button>
  <div class="center-container">
    <canvas id="queryCountChart" width="300" height="150"></canvas>
  </div>
  <table id="queryTable">
    <tr>
      <th>Table</th>
      <th>Total Query Count</th>
      <th>Location</th>
      <th>Location Count</th>
    </tr>
    <% data.each do |table, info| %>
      <tr>
        <td rowspan="<%= info[:location].size + 1 %>"><%= table %></td>
        <td rowspan="<%= info[:location].size + 1 %>"><%= info[:count] %></td>
      </tr>
      <% info[:location].each do |loc, count| %>
        <tr class="sub-row">
          <td><%= loc %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <script>
    const chartData = <%= chart_data.to_json %>;
    initializeChart(chartData);
  </script>
</body>
</html>